.my-page-nav {
    max-height: 300px;
    width: 200px;
}
.nav-items {
    padding: 0 10px;
}
.nav-items > div {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
}
.nav-items:hover {
    background: #e9f1f6;
}
.nav-items.active {
    background: #e9f1f6;
    color: var(--app-bar-primary);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.watched-list-item {
    /* background: white; */
    display: flex;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.watched-list-poster > img {
    width: 100px;
    border-radius: 10px 0 0 10px;
}
.favourite-list-item {
    width: 250px;
    height: 280px;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}