.all-movies {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
}
.all-movies-content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.all-movie-card {
    display: flex;
    flex-direction: column;
    position: relative;
}
.all-movie-card-placeholder {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-animation: blinker 2s linear infinite;
    animation: blinker 2s linear infinite;
}
.all-img-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
    background: url('../../../assets/trending-movies-ph.png');
    background-size: 120px;
}
.all-img-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transform: scale(1.06)
}

.all-movies-title-section {
    display: flex;
    /* height: 150px; */
    width: 100%;
    padding: 10px 0;
    background: #B6D0E1;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.all-movies-filter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

@-webkit-keyframes blinker {
    0%,100%{
        opacity: 0.0
    }
    50%{
        opacity: 1.0
    }
}
@keyframes blinker {
    0%,100%{
        opacity: 0.0
    }
    50%{
        opacity: 1.0
    }
}