.trending-movies {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    margin-top: 15px;
}
.trending-movie-list-container {
    overflow-x: auto; 
    width: 80%;
    min-height: 30vh;
    background-image: url('../../../../public/assets/trending-movies-bg.png');
}
.trending-movie-list {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    /* width: 80%; */
    /* min-height: 30vh; */
    gap: 20px;
    padding: 10px;
}
.trending-movie-card {
    display: flex;
    flex-direction: column;
    position: relative;
}
.trending-img-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
    background: url('../../../../public/assets/trending-movies-ph.png');
}
.trending-img-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.MuiToggleButtonGroup-root {
    padding: 0 10px;
    height: 25px;
    align-self: center;
}
.MuiButtonBase-root.Mui-selected {
    font-weight: 550;
    color: white !important;
    background: var(--app-color-primary) !important;
}